/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.selected-item {
    cursor: pointer;
}

.selected-item:hover {
    background-color: #007bff;
    color:white;
}