<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button (click)="onSearch()" class="btn btn-primary">Search</button>
  </div>
  <input type="text" (keyup.enter)="onSearch()" aria-label="Query" class="form-control" autocomplete="off" placeholder="search" [(ngModel)]="query">
</div>

<div class="shadow d-flex flex-row p-2 mb-4 align-items-center selected-item" *ngFor="let joke of jokes" (click)="deleteOneJoke(joke.id)">
  <img class="thumbnail col-sm-1" src="{{joke.icon_url}}">
  <div class="px-2 col-sm-10">{{joke.value}}</div>
</div>
