<button (click)="loadOneMoreJoke()" class="btn btn-primary mb-4">One more pls!</button>

<div class="shadow d-flex flex-row p-2 mb-4 align-items-center selected-item" *ngFor="let joke of jokes" (click)="deleteOneJoke(joke.id)" >
  <img class="thumbnail col-sm-1" src="{{joke.icon_url}}">
  <div class="px-2 col-sm-10">{{joke.value}}</div>
</div>




