<div class="input-group mb-3">
  <select class="form-control" id="cat" (change)="onSelectCategory($event.target.value)">
      <option value="0">-- Choose category --</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
</div>
<div class="shadow d-flex flex-row p-2 mb-4 align-items-center selected-item" *ngFor="let joke of jokes" (click)="deleteOneJoke(joke.id)">
  <img class="thumbnail col-sm-1" src="{{joke.icon_url}}">
  <div class="px-2 col-sm-10">{{joke.value}}</div>
</div>
